apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: auth-service-route
  labels:
    app: togather
    service: auth-srv
spec:
  parentRefs:
    - name: togather-gateway
      namespace: envoy-gateway
  
  # hostnames:
  # - "api.togather.com"
  
  rules:
    # Auth endpoints
    - matches:
        - path:
            type: PathPrefix
            value: /api/v1/auth
      
      backendRefs:
        - name: auth-srv
          port: 3000
