# Envoy Gateway configuration
# https://gateway.envoyproxy.io/docs/install/gateway-helm-api/
deployment:
  replicas: 1

  envoyGateway:
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 256Mi
