# Envoy Gateway configuration
# https://gateway.envoyproxy.io/docs/install/gateway-helm-api/
deployment:
  replicas: 1

  envoyGateway:
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi
