apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: auth-service-route
  labels:
    app: togather
    service: auth-srv
    ratelimitGlobal: enabled # enables ratelimiter
spec:
  parentRefs:
    - name: togather-gateway
      namespace: envoy-gateway

  rules:
    # All other auth routes are public
    - name: auth-public
      matches:
        - path:
            type: RegularExpression
            value: ^/api/v[0-9a-zA-Z]+/auth/.*

      backendRefs:
        - name: auth-srv
          port: 3000
