apiVersion: v1
kind: Service
metadata:
  name: kafka-0
  namespace: kafka
  labels:
    app: kafka
spec:
  type: ClusterIP
  clusterIP: None # Headless service for StatefulSet
  ports:
    - port: 9092
      targetPort: 9092
      protocol: TCP
      name: plaintext
    - port: 9093
      targetPort: 9093
      protocol: TCP
      name: controller
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-external
  namespace: kafka
  labels:
    app: kafka
spec:
  type: NodePort
  ports:
    - port: 29092
      targetPort: 29092
      nodePort: 30092
      protocol: TCP
      name: plaintext
    - port: 29093
      targetPort: 29093
      nodePort: 30093
      protocol: TCP
      name: controller
  selector:
    app: kafka
