apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: auth-verify-email-route
  namespace: default
spec:
  parentRefs:
    - name: togather-gateway
      namespace: envoy-gateway
  rules:
    - matches:
        - path:
            type: RegularExpression
            value: ^/api/v1/auth/user/signup/verify-email$
          method: POST
      backendRefs:
        - name: auth-srv
          port: 3000
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: auth-verification-ratelimit
  namespace: default
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: auth-verify-email-route
  rateLimit:
    type: Local
    local:
      rules:
        - clientSelectors:
            - sourceCIDR:
                type: Distinct
                value: 0.0.0.0/0
          limit:
            requests: 1
            unit: Minute
