apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: local-ratelimit
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      matchLabels:
        ratelimitGlobal: enabled
  rateLimit:
    type: Local
    local:
      rules:
        # Per-IP base limit
        - clientSelectors:
            - sourceCIDR:
                value: 0.0.0.0/0
                type: Distinct
          limit:
            requests: 100
            unit: Minute
# https://gateway.envoyproxy.io/docs/concepts/gateway_api_extensions/backend-traffic-policy/#precedence
